<div class="container">
  <div class="wrapper">
    <div class="title"><span>Detalhes do Produto</span></div>
    <form [formGroup]="form" (submit)="saveOrUpdate()">
      <div class="row">
        <i class="fas fa-user"></i>
        <input type="text" placeholder="Nome do produto" formControlName="name" required>
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="number" placeholder="Preço" formControlName="price" required>
      </div>
      <div class="row">
        <i class="fas fa-lock"></i>
        <input type="number" placeholder="Quantidade" formControlName="quantity" required>
      </div>

      <div class="row button">
        <button type="submit">Salvar</button>
      </div>
      <div class="signup-link">
        <a [routerLink]="['/register']">Registrar-se</a> | <a [routerLink]="['']">Home</a>
      </div>
    </form>
  </div>
</div>
