.container {
  position: absolute;
  background-image: linear-gradient(to right, #13836c, #16a085); /* Gradiente de cores de #13836c para #16a085 da esquerda para a direita */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tabela {
  width: 800px;
  height: 600px;
  background-color: white;
  border: 2px solid #16a085;
  border-radius: 20px;
}

.tabela table {
  width: 100%;
  height: 100%;
}

.tabela td {
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}
.teste{
  background-color: black;
}
.example-spacer {
  flex: 1 1 auto;
}
.p{
  padding-top: 0px;
}
